.image-slider {
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
}

.image-slider img {
    width: 100%;
    position: absolute;
}

.prv-nxt-btn {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.prev,
.next {
    position: relative;
    color: black;
    height: 193px;
    width: 6%;
    min-width: 74px;
    border-radius: 6px;
    margin: 8px;
}

.prev:focus,
.next:focus {
    box-shadow: inset 0 0 0 2px #FFF, inset 0 0 0 4px #008296;
}

.prev:hover,
.next:hover {
    background: #9494943f;
}