
.productDetail {
  display: flex;
  margin-top: 10px;
}

.image-container {
  display: flex;
  width: 100%;
}

.main img {
  width: 40vw;
}

.secondary {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 5px;
}

.secondary img {
  margin: 2px 0px;
  width: 50px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.secondary img:hover {
  border: 2px solid #1196ab;
  box-shadow: 0 0 5px 0 #1196ab;
}
    @media (max-width: 670px) {
      .productDetail {
        flex-wrap: wrap;
      }
    
      .image-container {
        justify-content: center;
      }
    
      .main img {
        width: 80%;
      }
    }
