.body {
  position: relative;
  z-index: 1;
}

.row {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  padding: 16px 85px;
  border-radius: 6px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: bolder;
  font-size: x-large;
  margin: 100px 0;
}

.box a {
  font-size: 0.8em;
  background: #ffa5009e;
  padding: 6px 15px;
  border-radius: 5px;
  margin: 0 20px;
  transition: all 0.2s;
}

.box a:hover {
  box-shadow: 0 0 7px 0px #0072ff;
}