body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  margin: 0 3px;
}

a {
  text-decoration: none;
  color: #007185;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #C7511F;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}